Repository ueman/passkit, pull requests merged in 2024-06, with the labels that each got.

#7 Add webservice to request latest PkPass
  passkit/README.md
  passkit/lib/passkit.dart
  passkit/lib/src/passkit/pkpass.dart
  passkit/lib/src/passkit_web_client.dart
  passkit/lib/src/passkit_web_client_exceptions.dart
  passkit/pubspec.yaml
Labels: package: passkit

#21 Add support for more images in PkPasses
  passkit/lib/src/passkit/pkpass.dart
Labels: package: passkit

#24 Add a lot of functionality to `app` and `passkit_ui`
  app/analysis_options.yaml
  app/android/app/src/main/AndroidManifest.xml
  app/devtools_options.yaml
  app/lib/example/example_passes.dart
  app/lib/home_page.dart
  app/lib/import_pass/import_page.dart
  app/lib/import_pass/receive_pass.dart
  app/lib/l10n/app_en.arb
  app/lib/l10n/de.arb
  app/lib/main_app.dart
  app/lib/pass_backside/app_metadata_tile.dart
  app/lib/pass_backside/pass_backside_page.dart
  app/lib/pass_backside/placemark_tile.dart
  app/lib/router.dart
  app/lib/web_service/README.md
  app/lib/web_service/app_meta_data_client.dart
  app/lib/web_service/app_metadata.dart
  app/pubspec.lock
  app/pubspec.yaml
  passkit/lib/src/passkit/barcode.dart
  passkit/pubspec.yaml
  passkit_ui/LICENSE
  passkit_ui/README.md
  passkit_ui/example/lib/main.dart
  passkit_ui/lib/src/boarding_pass.dart
  passkit_ui/lib/src/coupon.dart
  passkit_ui/lib/src/event_ticket.dart
  passkit_ui/lib/src/extension/css_color_extension.dart
  passkit_ui/lib/src/extension/formatting_extensions.dart
  passkit_ui/lib/src/extension/pk_pass_image_extensions.dart
  passkit_ui/lib/src/generic.dart
  passkit_ui/lib/src/pass_theme.dart
  passkit_ui/lib/src/pk_pass_widget.dart
  passkit_ui/lib/src/store_card.dart
  passkit_ui/lib/src/widgets/backfields_dialog.dart
  passkit_ui/lib/src/widgets/footer.dart
  passkit_ui/lib/src/widgets/logo.dart
  passkit_ui/lib/src/widgets/passkit_barcode.dart
  passkit_ui/lib/src/widgets/transit_types/bus_icon.dart
  passkit_ui/lib/src/widgets/transit_types/generic_transit_type.dart
  passkit_ui/lib/src/widgets/transit_types/plane_icon.dart
  passkit_ui/lib/src/widgets/transit_types/transit_type_widget.dart
  passkit_ui/pubspec.yaml
Labels: package: passkit_ui, package: app

#26 ci(passkit_ui): add workflow
  .github/workflows/passkit_ui.yaml
  .github/workflows/semantic_pull_request.yaml
  .gitignore
  app/pubspec.lock
  app/pubspec.yaml
  apple_passkit/lib/src/apple_passkit.dart
  passkit/lib/passkit.dart
  passkit/lib/src/passkit/pass_type.dart
  passkit/lib/src/passkit/pk_pass_image.dart
  passkit_ui/example/pubspec.lock
  passkit_ui/lib/passkit_ui.dart
  passkit_ui/lib/src/boarding_pass.dart
  passkit_ui/lib/src/coupon.dart
  passkit_ui/lib/src/event_ticket.dart
  passkit_ui/lib/src/extension/formatting_extensions.dart
  passkit_ui/lib/src/extension/pk_pass_image_extensions.dart
  passkit_ui/lib/src/extensions/css_color_extension.dart
  passkit_ui/lib/src/extensions/extensions.dart
  passkit_ui/lib/src/extensions/pk_pass_image_extension.dart
  passkit_ui/lib/src/extensions/pk_text_alignment_extension.dart
  passkit_ui/lib/src/generic.dart
  passkit_ui/lib/src/pk_pass_widget.dart
  passkit_ui/lib/src/store_card.dart
  passkit_ui/lib/src/theme/pass_theme.dart
  passkit_ui/lib/src/theme/theme.dart
  passkit_ui/lib/src/widgets/footer.dart
  passkit_ui/lib/src/widgets/logo.dart
  passkit_ui/lib/src/widgets/passkit_barcode.dart
  passkit_ui/lib/src/widgets/transit_types/transit_types.dart
  passkit_ui/lib/src/widgets/widgets.dart
  passkit_ui/pubspec.yaml
  passkit_ui/test/helpers/helpers.dart
  passkit_ui/test/helpers/widget_tester_extension.dart
  passkit_ui/test/src/extensions/css_color_extension_test.dart
  passkit_ui/test/src/extensions/pk_pass_image_extension_test.dart
  passkit_ui/test/src/extensions/pk_text_alignment_extension_test.dart
  passkit_ui/test/src/pk_pass_widget_test.dart
  passkit_ui/test/src/theme/pass_theme_test.dart
  passkit_ui/test/src/widgets/footer_test.dart
  passkit_ui/test/src/widgets/logo_test.dart
  passkit_ui/test/src/widgets/passkit_barcode_test.dart
Labels: package: passkit_ui

#31 Adds personalization classes
  passkit/lib/passkit.dart
  passkit/lib/src/passkit/personalization.dart
  passkit/lib/src/passkit/personalization.g.dart
  passkit/lib/src/passkit/pkpass.dart
Labels: package: passkit

#32 feat(passkit): Add missing tags & semantics
  passkit/lib/passkit.dart
  passkit/lib/src/passkit/field_dict.dart
  passkit/lib/src/passkit/field_dict.g.dart
  passkit/lib/src/passkit/nfc.dart
  passkit/lib/src/passkit/nfc.g.dart
  passkit/lib/src/passkit/pass_data.dart
  passkit/lib/src/passkit/pass_data.g.dart
  passkit/lib/src/passkit/semantic_tag_type.dart
  passkit/lib/src/passkit/semantic_tag_type.g.dart
  passkit/lib/src/passkit/semantics.dart
  passkit/lib/src/passkit/semantics.g.dart
Labels: package: passkit
